.services-section {
  background: #ececec;
  padding: 2rem 0;
}

.services-container {
  width: 80%;
  max-width: 800px;
  margin: auto;
}

h2 {
  padding: 2rem 0;
  width: 200px;
  margin: auto;
}

h2 span {
  color: #3fd0d4;
}

/* 
card section */

.card {
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.icon {
  background-color: #3fd0d4;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  align-self: center;
}

.icon i {
  font-size: 1.75rem;
  position: relative;
  top: 10px;
  left: 10px;
}

.about {
  display: grid;
  padding-left: 10px;
}

.title {
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.card p {
  font-size: 0.9rem;
  padding: 0;
  font-weight: 100;
  letter-spacing: 0;
  margin: 0;
}

@media (min-width: 900px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
